#main-nav {
	.menu-container {
		max-width: 1024px;
		margin:auto;
	}
	box-shadow: none;
	background: none;
	.navbar-fixed {
		nav {
			position: static;
			&.transparent-nav {
				background-color: transparent;
				box-shadow: none;
			}
		}
		.nav--fixed {
	        position: fixed;
	        background-color:#03A9F4; 
	        transform:translateY(0);
	        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
        }
        .nav--gone {
          transform:translateY(-500px);
        }
	}
	nav {
		box-shadow: none;
		background-color: transparent;
		transition:all .6s;
	}
	.brand-logo {
		width: 40px;
		right: 20px;
		@media(min-width: 993px) {
			right: auto;
			left: 20px;
		}
		&.no-brand-logo {
          display: none;
        }
		> img {
			vertical-align: middle;
		}
	}
	.background {
		@extend .light-blue;
	}
	.side-nav {
		min-height: 100vh;
		z-index: 10000;
		@media(max-width: 400px){
			width: 200px;
		}
		.menu-logo {
			display: block;
			margin:auto;
			width: 150px;
		}
		.name {
			font-size: 2.5em;
			font-weight: bold;
			letter-spacing: -3px;
			margin-bottom: 3px;
		}
		.email {
			font-weight: 300;
		}
		> li:first-child {
			height: 200px;
			 > .user-view {
			 	height: 100%;
			 	.text-container {
			 		position: relative;
			 		bottom: 1px;
			 	}	
			 	.menu-logo {
			 		width: 100px;
			 	}
			 }
		}
	}
	#close-nav {
    	position: absolute;
    	top: 0;
    	right: 10px;
    	&:hover {
    		cursor: pointer;
    	}
    }
}

#sidenav-overlay {
	z-index: 100;
}