
// iPhone 5
@media (min-height: 520px) and (orientation:portrait) {
    .hero blockquote {
        margin-bottom: 50px;
    }
}

// S3
@media (min-width: 360px) and (orientation:portrait) {
    .hero {
        .hexagon-container {
            right: 65px;
            .hexagon {
                width: 310px;
                height: 155px;
                &:last-child {
                    left: 134px;   
                }
            }
        }
    }
}

@media (min-width: 360px) and (max-height: 550px) and (orientation:portrait) {
    .hero {
        blockquote {
            margin-bottom: 30px;
        }
        .hexagon-container {
            right: 65px;
            .hexagon {
                width: 300px;
                height: 150px;   
                &:last-child {
                    left: 135px;   
                }
            }
        }
    }
}

// iPhone 6+
@media (min-width: 412px) and (orientation:portrait) {
    .hero {
        blockquote {
            margin-bottom: 70px;
            h1 {
                font-size: 3em;
            }
        }
        .hexagon-container {
            right: 90px;
            .hexagon {
                width: 380px;
                height: 190px;     
                &:last-child {
                    left: 170px;   
                }
            }
        }
    }
}

// iPad
@media (min-width: 768px) and (orientation:portrait) {
    .hero {
        blockquote {
            margin-bottom: 70px;
            h1 {
                font-size: 5.5em;
            }
        }
        .hexagon-container {
            right: 145px;
            .hexagon {
                width: 650px;
                height: 325px;     
                &:last-child {
                    left: 290px;   
                }
                .logo {
                    width: 40px;
                }
            }
        }
    }
}

// Landscape

// iPhone 4
@media (min-width: 480px) and (min-height: 320px) and (orientation:landscape) {
    .hero {
        blockquote {
            @include abs-centered(y);
            left: 20px;
            margin:0;
            padding-left: 10px;
            border-left-width: 5px;
            h1 {
                font-size: 1.7em;
            }
        }
        .hexagon-container {
            @include abs-centered(y);
            right: 70px;
            .hexagon:last-child {
                left: 117px;
            }
        }
        .logo {
            left: 35px!important;
            right: auto;
        }
    }
}

// iPhone 5
@media (min-width: 560px) and (min-height: 320px) and (orientation:landscape) {
     .hero blockquote h1 {
        font-size: 2.6em;
    }
}

// iPhone 6
@media (min-width: 640px) and (min-height: 360px) and (orientation:landscape) {
    .hero {
        blockquote h1 {
            font-size: 3em;
        }
        .hexagon-container {
            @include abs-centered(y);
            right: 90px;
            .hexagon {
                width: 320px;
                height: 160px;
                &:last-child {
                    left: 142px;
                }      
            }
        } 
    }
}

// iPhone 6+
@media (min-width: 730px) and (min-height: 400px) and (orientation:landscape) {
    .hero {
        blockquote h1 {
            font-size: 3em;
        }
        .hexagon-container {
            @include abs-centered(y);
            right: 90px;
            .hexagon {
                width: 320px;
                height: 160px;
                &:last-child {
                    left: 142px;
                }      
            }
        } 
    }
}

// iPad
@media (width: 1024px) and (height: 768px) and (orientation:landscape) {
    .hero {
        blockquote h1 {
            font-size: 2em;
        }
        .hexagon-container {
            @include abs-centered(y);
            right: 90px;
            .hexagon {
                width: 320px;
                height: 160px;
                &:last-child {
                    left: 142px;
                }      
            }
        } 
    }
}

// PC
@media (min-width: 769px) {
    .hero {
        blockquote {
            padding-left: 20px; 
            h1 {
                font-size: 3.6em;
            }
        }
        .hexagon-container {
            @include abs-centered(y);
            right: 100px;
            .hexagon {
                width: 340px;
                height: 170px;
                &:last-child {
                    left: 152px;
                }      
            }
        } 
    }
}

@media (min-width: 850px) {
    .hero {
        blockquote h1 {
            font-size: 3.8em;
        }
        .hexagon-container {
            @include abs-centered(y);
            right: 120px;
            .hexagon {
                width: 380px;
                height: 190px;          
                &:last-child {
                    left: 170px;
                }      
            }
        } 
    }
}

@media #{$large-and-up} {
    .hero {
        .container {
            position: relative;
        }
        blockquote {
            left: -50px;
            border-left-width: 10px;
            h1 {
                font-size: 3.7em;
            }
        }
        .hexagon-container {
            @include abs-centered(y);
            right: 0;
            .hexagon {
                width: 450px;
                height: 225px;               
                &:last-child {
                    left: 200px;
                }      
            }
        } 
        .logo {
            @include abs-centered(x);
            width: 50px;    
        }
    }
}

@media (min-width: 1200px) {
    .hero blockquote h1 {
        font-size: 4.5em;
    }
}

@media (min-width: 1250px) {
    .hero blockquote h1 {
        font-size: 5em;
    }
}

@media (min-width: 1440px) {
    .hero {
        blockquote {
            left: -100px;
            h1 {
                font-size: 6em;
            }
        }
        .hexagon-container {
            .hexagon {
                width: 600px;
                height: 300px;               
                &:last-child {
                    left: 265px;
                }      
            }
        } 
        .logo {
            @include abs-centered(x);
            width: 70px;    
        }
    }
}