.page-footer {
	&,.footer-copyright {
		padding: 0;
		p {
			@extend .grey-text, .text-lighten-1;
			margin: 0;
		}
	}
	
	.social-icons-container {
		padding-top: 15px;
		svg {
			margin-right: 10px;
			width: 40px;
			height: 40px;
			.st0 {
				fill:#03A9F4;
				transition:fill .6s;
			}
            .st1 {
            	fill:#FFFFFF;
           	}
           	&:hover {
           		.st0 {
           			fill:#0288d1;
           		}
           	}
		}
	}
}