.page-footer {
	&,.footer-copyright {
		padding: 0;
		p {
			@extend .grey-text, .text-lighten-1;
			margin: 0;
		}
	}
	
	.social-icons-container {
		img {
			margin-right: 10px;
			width: 30px;
		}
	}
}