.hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-image: url('../img/hero-sm.jpg');
    background-size: cover;
  	@media #{$large-and-up} {
    	background-image: url('../img/header/header--16-9.png');
    	background-position: center;
  	}
}

main {
	position: relative;
}