.hero {
    overflow: hidden;
    position: relative;
    height: 100vh;
    @extend .light-blue, .lighten-1;
  	@media #{$large-and-up} {
    	background:white;
    	background-position: bottom;
        background-size: cover;
  	}
    blockquote {
        @include abs-centered(y);

    }
}

.hexagon-container {
    @include abs-centered(y);
    position: absolute;
    right: 170px;
}

.hexagon {
    width: 500px;
    height: 250px;
    background: red;
    transform:rotate(120deg);
    overflow: hidden;
    visibility: hidden;
}

.hexagon:last-child {
    position: absolute;
    right: -45%;
    top: 25%;
}

.hexagon-inside {
    width: 100;
    height: 100%;
    background: green;
    transform:rotate(-60deg);
    overflow: hidden;
}

.hexagon-image {
    width: 100%;
    height: 100%;
    transform:rotate(-60deg);
    visibility: visible;
}

.hexagon:first-child .hexagon-image {
    background-image: url('../img/header/16-9/1.jpg');
    background-position: center;
    background-size: cover;
}

.hexagon:nth-child(2) .hexagon-image {
    background-image: url('../img/header/16-9/2.jpg');
    background-position: top;
    background-size: cover;
}

.hexagon:nth-child(3) .hexagon-image {
    background-image: url('../img/header/16-9/3.jpg');
    background-position: center;
    background-size: cover;
}