.our-projects {
	position: relative;
	margin-top: 80px;
	h1 {
		position: relative;
		display: table;
		margin:auto;
		border-top: 1px dashed color("grey", "lighten-1");
		padding-top: 10px;
	}
	.tabs {
		background: transparent;
	}
	.card {
		max-width: 320px;
		margin-right: auto;
		margin-left:auto;
		.red.btn-floating {
			@extend  .light-blue,.darken-2;
		}
		&-action > a {
			@extend .light-blue-text,.text-darken-2;
			letter-spacing: 1px;
			&:hover {
				@extend .light-blue-text,.text-darken-4;
			}
		}
	}
}

