.our-clients {
	@extend .light-blue;
	padding: 40px 0;
	color: #fff;
	h1 {
		margin: 0;
	}
	.slider {
		margin-top: 20px;
		@media (min-width: 993px) {
			height: 270px!important;
		}
		.indicators {
			display: flex;
			justify-content:center;
			align-items:center;
			bottom: -20px;
			z-index: 50;
			li {
				width: 12px;
				height: 12px;
				background-color: #fff;
				margin:0 6px;
				&.active {
					background-color: #fff;
					width: 16px;
					height: 16px;
				}
			}
		} 
		.slides {
			height: 100%!important;
			background-color: transparent;
			text-align: center;
			.row {
				position: relative;
			}
			.client-text {
				@media #{$large-and-up} {
				    @include abs-centered(y);
				    margin-right:20px;
				    text-align: left;
				}
			}
			.client-speach {
				font-size: 1.2em;
				font-style: italic;
			}
			.client-signiture {
				padding-right: 15px;
				text-align: center;
				@media #{$large-and-up} {
				    text-align: left;
				}
			}
			li {
				.client-img {
					display: table;
					margin:10px auto;
					border:5px solid #fff;
					width: 70%;
					max-width: 220px;
				}
			}	
		} 
	} 
}