.our-team {
	position: relative;
	padding-top: 40px;
	text-align: center;
	.team-member- {
		&img {
			margin:0 auto;
			border:5px solid color(light-blue,base);
			width: 70%;
			max-width: 220px;
		}
		&name {
			font-size: 2.3em;
			margin:10px 0;
		}
		&job {
			position: relative;
			display: inline-block;
			font-size: 1.4em;
			margin:5px 0 50px 0;
			border-bottom: 1px dashed color("grey", "lighten-1");
			padding-bottom: 5px;
			&:after {
				content: "";
				@include abs-centered(x);
				bottom: -30px;
				display: block;
				border-left: 1px dashed color("grey", "lighten-1");
				width: 2px;
				height: 30px;
			}
		}
	}
	.col:first-child .team-member-job {
		@media #{$small-and-down} {
			&:after {
				bottom: -50px;
				height: 50px;
			}
		}
	}
	.col:last-child .team-member-job {
		margin-bottom: 10px;
	}
	.closing-text {
		position: relative;
		padding-bottom: 30px;
		font-size: 1.5em;
		@media #{$medium-and-up} {
			&:before {
				content: "";
				@include abs-centered(x);
				top: -42px;
				display: block;
				border-top: 1px dashed color("grey", "lighten-1");
				width: 51.2%;
				height: 2px;
			}
			&:after {
				content: "";
				@include abs-centered(x);
				top: -40px;
				display: block;
				border-left: 1px dashed color("grey", "lighten-1");
				width: 2px;
				height: 20px;
			}
		}
	}
	&:after {
		content: "";
		@include abs-centered(x);
		bottom: -20px;
		display: block;
		border-left: 1px dashed color("grey", "lighten-1");
		width: 2px;
		height: 35px;
	}
}