.our-projects {
	position: relative;
	margin-top: 80px;
	padding-top: 40px;
	&:before {
		content: "";
		@include abs-centered(x);
		top: -20px;
		height: 20px;
		display: block;
		border-left: 1px dashed color("grey", "lighten-1");
		width: 2px;
	}
	.tabs {
		background: transparent;
	}
	.card {
		max-width: 320px;
		margin-right: auto;
		margin-left:auto;
	}
}

