.what-we-do {
	margin-top: -20px;
	@media #{$large-and-up} {
		padding-bottom: 20px;
	}
	.row:after {
		@media #{$large-and-up} {
			content: "";
			position: relative;
			bottom: -20px;
			display: block;
			margin: 0 auto;
			border-bottom: 1px dashed color("grey", "lighten-1");
			width: 66.5%;	
  		}
	}
	.col {
		@media #{$medium-and-down} {
    		float: none;
  		}
  		&:nth-of-type(2) .card:after {
			@media #{$large-and-up} {
				height: 103px;
    		}
  		}
  		&:last-child .card:after {
			@media #{$medium-and-down} {
				height: 70px;
    		}
  		}
	}
	.card {
		position: relative;
		margin: 7px auto 50px;
		max-width: 250px;
		&:after {
			content: "";
			display: block;
			border-left: 1px dashed color("grey", "lighten-1");
			width: 2px;
			@media #{$medium-and-down} {
    			@include abs-centered(x);
    			height: 50px;
  			}
  			@media #{$large-and-up} {
    			@include abs-centered(x);
    			height: 70px;
  			}
		}
		.card-image {
			position: relative;
			height: 200px;
			text-align: center;
			>img {
				@include abs-centered();
				width: 150px;
			}
		}
		a.activator {
			@extend  .light-blue-text, .text-darken-2;
			cursor: pointer;
			&:hover {
				@extend .light-blue-text,.text-darken-4;
			}
		}
	}
}