.what-we-do {
	.row:after {
		@media #{$large-and-up} {
			content: "";
			position: relative;
			bottom: -99px;
			display: block;
			margin: 0 auto;
			border-bottom: 1px dashed color("grey", "lighten-1");
			width: 66.5%;	
  		}
	}
	.col {
		@media #{$medium-and-down} {
    		float: none;
  		}
  		&:nth-of-type(2) .card:before {
			@media #{$large-and-up} {
				@include circle-border(-220px);
    		}
  		}
  		&:nth-of-type(2) .card:after {
			@media #{$large-and-up} {
				height: 200px;
    		}
  		}
  		&:last-child .card:before {
			@media #{$medium-and-down} {
				@include circle-border(-70px);
    		}
  		}
	}
	.card {
		position: relative;
		margin: 7px auto 50px;
		max-width: 250px;
		&:after {
			content: "";
			display: block;
			border-left: 1px dashed color("grey", "lighten-1");
			width: 2px;
			@media #{$medium-and-down} {
    			@include abs-centered(x);
    			height: 50px;
  			}
  			@media #{$large-and-up} {
    			@include abs-centered(x);
    			height: 150px;
  			}
		}
		.card-image {
			position: relative;
			height: 200px;
			text-align: center;
			>img {
				@include abs-centered();
				display: inline-block;
				width: auto;
			}
		}
	}
}